#container {
    display: flex;
    flex-direction: column;
    background-color: #1C1F21;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 3px 3px 20px 1px black;
    margin-top: 100px;

    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; */
}

.num {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    margin: 3px;
    margin-top: 6px;
    background-color: #2F2A50;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    transition-duration: 0.2s;
    cursor: pointer;
    border: none;
}

.num:hover {
    background-color: #6054A0;
}

.num:active {
    transform: translateY(3px) translateX(3px);
}

.del:hover {
    background-color: #CC001F;
    /* color: #042A2B; */
}

#last {
    width: 150px;
}

#display {
    padding: 10px 10px;
    height: 60px;
    background-color: #CCDCE0;
    margin-bottom: 10px;
    margin-top: 8px;
    border-radius: 15px;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    color: #14343E;
}

body {
    background-color: #2F2A50;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: #CCDCE0;
    font-family: 'Courier New', Courier, monospace;
    bottom: 50px;
    text-decoration: none;    
    position: absolute;
}